.circular-add-button {
    position: absolute;
    bottom: 2em;
    right: 2em;
    width: 3.5em;
    height: 3.5em;
    border: none;
    border-radius: 50%;
    background: $flat-green url('/images/add.svg') no-repeat 50%;
    background-size: 2em;
    cursor: pointer;
}