@import 'reset';
@import 'fonts';
@import 'colors';

body {
    background-color: #F5F5F5;
    background-image: linear-gradient(30deg, white 12%, transparent 12.5%, transparent 87%, white 87.5%, white),
    linear-gradient(150deg, white 12%, transparent 12.5%, transparent 87%, white 87.5%,white),
    linear-gradient(30deg, white 12%, transparent 12.5%, transparent 87%, white 87.5%, white),
    linear-gradient(150deg, white 12%, transparent 12.5%, transparent 87%, white 87.5%, white),
    linear-gradient(60deg, #F0F0F0 25%, transparent 25.5%, transparent 75%, #F0F0F0 75%, #F0F0F0),
    linear-gradient(60deg, #F0F0F0 25%, transparent 25.5%, transparent 75%, #F0F0F0 75%, #F0F0F0);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.header-content {
    border-bottom: 1px solid $light-gray;
    background-color: $white-transparent;
    padding: 1em;

    .title {
        font-size: 16pt;

        a {
        	color: black;
        	text-decoration: none;
        }
    }
}

h1,h2,h3,h4,h5,h6,b,a,p,strong,li,input,div{
    font-family: "museo_sans", Helvetica, sans-serif;
}