@import 'base';
@import 'modal';
@import 'buttons';
@import 'text-fields';

.cards {
    padding: 2em;

    .title {
        font-size: 18pt;
        margin-bottom: 1em;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    }
    .tip {
        font-size: 14pt;
        margin-bottom: 1em;
        margin-top: 4em;
    }
}

.card-container {
    background: white;
    border-radius: 2px;
    border: 1px outset $light-gray;
    display: inline-block;
    position: relative;
    width: 20em;
    height: 10em;
    margin: 2%;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover,&:focus {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    header {
        background-color: white;
        width: 100%;
        padding: 1em 0;
        position: relative;

        .icon {
            width: 16px;
            height: 16px;
            margin-left: 1em;
        }
        .name {
            margin-left: 2em;
            font-size: 14pt;
            display: inline;
            color: $dark-gray;
        }
        .delete {
            position: absolute;
            border: none;
            border-radius: 50%;
            width: 1.5em;
            height: 1.5em;
            top: -0.5em;
            right: -0.5em;
            background: $flat-red url('/images/delete.svg') no-repeat 50%;
            background-size: 1.2em;
            cursor: pointer;
        }
    }
    .content {
        padding: 1em;

        .updated-at {
            position: absolute;
            font-size:0.8em;
            bottom: 0.5em;
            left: 0.5em;
        }
    }
}

.add-site {
    @extend .circular-add-button;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover, &:focus {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    &:focus {
        outline: none ;
    }
}
.site-form {
    position: relative;
    .url {
        @extend .text-field;
        padding-left: 8%;
        padding-right: 4%;
        width: 88%;
    }
    .icon {
        position: absolute;
        top: 1em;
        left: 1em;
        display: none;
        width: 16px;
        height: 16px;
    }
    .name {
        @extend .text-field;
    }
    .confirm-site {
        @extend .circular-add-button;
        bottom: -3.5em;
        background-color: $flat-blue;
        background-image: url('/images/check.svg');
    }    
}