<!DOCTYPE html>
<html>
<head>
    <title>Follow that site - Home</title>
    {% style "/css/reset.css" %}
    {% style "/css/index.css" %}
</head>
<body>
    <header class="header-content">
        <h1 class="title"><a href="/">Follow that site !</a></h1>
    </header>
    <main class="main-content">
        <ol class="explanation">
            <li>Sign up</li>
            <li>Save your favorite sites</li>
            <li>Be notified when a site change</li>
        </ol>
        <form method="POST" action="/users" class="user-form">
            <input name="username" placeholder="Your username here" class="username">
            <input type="submit" class="confirm-username" value="">
        </form>
    </main>
    <footer></footer>
</body>
</html>