{% extends "page.html"%}
{% block title %}Profile{% endblock%}
{% block css %}profile{% endblock%}
{% block js %}profile{% endblock%}
{% block main %}

  {% include "modal-start.html" with modal-id="add" modal-title="Add a site" %}
    <form method="POST" action="/{{name}}" class="site-form">
      <div class="mandatory">
        <input name="site-url" placeholder="Site URL" class="url">
        <img alt="site icon" class="icon" onerror="this.style.display='none'">
      </div>
        <input name="site-name" placeholder="Site Name" class="name">
        <input type="submit" class="confirm-site" value="">
    </form>
  {% include "modal-end.html" %}
  {% include "page-start.html" %}
    <section class="cards">
      {% if site|not-empty %}
        <h2 class="text-center title">Saved sites</h2>

        {% for s in site %}
          <article class="card-container" tabindex="{{forloop.counter}}">
            <header>
              <img alt="{{s.name}} icon" class="icon" onerror="this.style.display='none'">
              <h3 class="name">{{s.name}}</h2>
              <button data-site-id="{{s.id}}" data-username="{{name}}" class="delete"></button>
            </header>
            <div class="content">
              <p id="card-site-url"  class="text-center">{{s.url}}</p>
              <p class="updated-at"><time>2016-06-02</time></p>
            </div>
          </article>
        {% endfor %}
      {% else %}
        <h2 class="text-center title">You have no sites saved</h2>
        <p class="text-center tip">Add one now below</p>
      {% endif%}
    </section>

    <a href="#add" class="add-site" tabindex="{{site|length|add:1 }}"></a>
  {% include "page-end.html" %}
{% endblock %}